
RewriteEngine On
ErrorDocument 404 /error/error404.php
ErrorDocument 403 /error/error403.php

DirectoryIndex login.php

RewriteRule ^(\w+)/$                /generic/list.php?tag=$1            [QSA]
RewriteRule ^(\w+)/add$             /generic/add.php?tag=$1&id=$2       [QSA]
RewriteRule ^(\w+)/([0-9]+)$        /generic/get.php?tag=$1&id=$2       [QSA]
RewriteRule ^(\w+)/([0-9]+)/edit$   /generic/edit.php?tag=$1&id=$2      [QSA]
RewriteRule ^(\w+)/([0-9]+)/delete$  /generic/delete.php?tag=$1&id=$2   [QSA]

RewriteRule ^home$  /home.php [QSA]
