form-edit-block .edit-form-block-submit {
    display: flex;
    justify-content: space-around;
    padding: 16px 0 0;
}

form-edit-block .edit-form-block-submit-edit {
    border: 2px solid #8157ff;
    background: #f0ebff;
}

form-edit-block .edit-form-block-submit-cancel {
    border: 2px solid #fff157;
    background: #fffdeb;
}

form-edit-block .edit-form-block-submit-cancel,
form-edit-block .edit-form-block-submit-edit {
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    padding: 3px 9px;
}

form-edit-block .edit-form-block-content {
    border: 1px solid #b1b1b1;
    padding: 25px;
    border-radius: 10px;
}

form-edit-block .input-block-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}