.list-block {
    gap: 10px;
    display: grid;
}

.item-list {
    display: flex;
    justify-content: space-between;
    border: 1px solid #b1b1b1;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.item-list-clickable:hover {
    transition: .1s;
    transform: scale(1.01);
}

.item-list-icons {
    gap: 10px;
    display: flex;
}

.item-list-text {
    display: grid;
    margin: 0;
    gap: 10px;
}

.item-list-text-title {
    font-weight: bold;
}

.item-list-key-value {
    display: grid;
    margin: 0 10px;
    gap: 3px;
}

.item-list-key, .item-list-value {
    margin: 0;
}

.item-list-icon {
    color: #000000;
}

.item-list-icon:hover {
    color: #3c3c3c;
}

.block-footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
}

.selector-page {
    padding: 10px;
    background-color: #f5f5f5;
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: #000000;
    text-align: center;
    border-radius: 5px;
}

.selector-page:hover {
    background-color: #d6d6d6;
}

.selected-page {
    background-color: #e2e2e2;
    font-weight: bold;
}