html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 200px auto;
    width: 50%;
    min-width: 500px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbar-item {
    float: left;
}

.navbar-item-right {
    float:right
}

.navbar-item-right a,
.navbar-item a {
    display: flex;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.navbar-item-right a:hover,
.navbar-item a:hover {
    background-color: #111111;
}

.navbar-item-right .material-symbols-rounded,
.navbar-item .material-symbols-rounded {
    font-size: 18px;
}


.block-title {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.msg-error {
    display: none;
    padding: 10px;
    background: #f44336;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid red;
}
