html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 200px auto 0;
    width: 50%;
    min-width: 500px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
}

.navbar-item-right {
    float:right
}

.navbar-item-right a,
.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item-right a:hover,
.navbar-item a:hover {
    background-color: #111111;
}

.item-list {
    border: 1px solid #b1b1b1;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.item-list-icons {
    gap: 10px;
    display: flex;
}

.list-block {
    gap: 10px;
    display: grid;
}

.item-list-text {
    margin: 0;
}

.item-list-icon {
    color: black;
}

.msg-error {
    display: none;
    padding: 10px;
    background: #f44336;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid red;
}
